<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VoiceMind – Cognitive Stress Detection</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='style/home.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/MEMOTAG.png')}}" type="image/x-icon">
</head>
<body>

  <iframe src="https://my.spline.design/claritystream-z3JznyElZgiej0fYaOUw2NjQ/" allowfullscreen></iframe>

  <div class="content">
    <a href="{{ url_for('index') }}" class="btn">Try Demo</a>
  </div>
  <div class="github">
    <a href="https://github.com/shriyansh009/Memotag_Cognitive_Decline">Github</a>
  </div>

</body>
</html>



